#TeamPage 
	{
		text-align: center;
<<<<<<< HEAD
	}
#linkscontainer ul {
    margin: 50px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
#linkscontainer ul li {
    display: inline;
    margin: 10px;
}
=======
	}
>>>>>>> parent of 9659ad4... Added pictures to team page
